header {
  display: flex;
  height: 3.75rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
header div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header h1 {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

#money-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
#money-display img {
  width: 40px;
  height: 40px;
}

#money-display span {
  font-size: 1.2rem;
  font-weight: bold;
  color: gold;
}

#energy-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
#energy-display img {
  width: 40px;
  height: 40px;
}

#energy-display span {
  font-size: 1.2rem;
  font-weight: bold;
  color: gold;
}

#seed-shop-button {
  background: none;
  border: none;
  cursor: pointer;
}

#seed-shop-button img {
  width: 100px;
  height: 100px;
}
